.header
  position: fixed
  top: 0
  left: 0
  width: 100%
  z-index: 10
  background: $blue

  &__flex
    display: flex
    align-items: center
    justify-content: center
    width: 100%
    height: 48px
    transition: 0.3s ease all

    +TAB_MIN
      height: 86px
      &.-scrolled
        height: 86px * 0.7