body
  +font(size 16px weight 300)
  +fontHelvetica
  line-height: 1.2
  color: $black
  text-align: center

*::selection
  background-color: $blue
  color: $white
  
*
  -webkit-tap-highlight-color: rgba(0,0,0,0)
  &:active, &:focus
    outline: none
    -webkit-tap-highlight-color: rgba(0,0,0,0)

main
  background: $white
  margin-bottom: 106px

.container
  +container

.overflow
  overflow: hidden

img
  display: inline-block