.text-center
  text-align: center

.text-uppercase
  text-transform: uppercase
  
.text-short
  white-space: nowrap
  width: auto
  overflow: hidden
  text-overflow: ellipsis

.font-italic
  font-style: italic