.banner
  min-height: 450px
  height: 100vh
  background: $gray
  color: $black
  display: flex
  align-items: center
  +PC_MIN
    min-height: 520px

  &__item
    margin: 40px 0

  &__circle
    background: $blue
    display: inline-flex
    align-items: center
    justify-content: center
    border-radius: 50%
    height: 102px
    width: 102px
    +TAB_MIN
      height: 152px
      width: 152px

  &__itemTitle
    +font(size 24px weight 700)
    margin-top: 20px
    +TAB_MIN
      +font(size 30px)

  &__itemSubTitle
    +font(size 16px weight 300)
    +TAB_MIN
      +font(size 20px)

  &__button
    background: $blueLight
    color: $white
    display: inline-block
    padding: 10px
    width: 100%
    max-width: 300px
    border-radius: 5px
    transition: 0.4s ease all
    &:hover
      background: darken($blueLight, 20%)
      text-decoration: none