.banner
  .container
    .banner__center
      .banner__item
        .banner__circle
          - var imgSrc = imgDir + 'banner__face.svg';
          img.banner__itemFace(src=imgSrc alt="Chat img")
        .banner__itemTitle Study Group
        .banner__itemSubTitle.font-italic 16 Members
        .banner__itemSubTitle KingsChat Group Invite

      a.banner__button.text-uppercase.wow.fadeIn(href="#" data-wow-delay="1.3s") Join chat