.footer
  +font(size 16px)
  position: fixed
  left: 0
  bottom: 0
  right: 0
  padding: 31px 0
  background: $blueDark
  color: $white
  z-index: -1

  &__link
    +font(weight 700)
    display: inline-block
    margin-top: 5px
    transition: 0.2s ease all
    &:hover
      text-decoration: none
      transform: scale(1.05)